<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Sentimen Analisis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <!--Font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
    
    
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      
      <!-- Fav and touch icons -->
      <link rel="shortcut icon" href="ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">


      

    <!-- SCRIPT 
    ============================================================-->  
    <script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
      
  </head>
  <body>
  <!--HEADER ROW-->
  <div id="header-row" style="background-color: #b60e10">
    <div class="container">
      <div class="row">
              <!--LOGO-->
              <div class="span3"><a class="brand" href="https://twitter.com/search?q=telkomsel&src=typd&lang=en"><img src="{% static 'img/logo-telkomsel.png' %}"/></a></div>
              <!-- /LOGO -->

            <!-- MAIN NAVIGATION -->  
              <div class="span9">
                <div class="navbar pull-right" style="color:white; text-shadow: 0 0 0 #fff;">
                  <div class="navbar-inner">
                    <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                    <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">

                        
                        <li><a href="{% url 'showberanda'%}">Beranda</a></li>
                        <li><a href="{% url 'showsentimenanalisis'%}">Sentimen Analisis</a></li>
                        <li><a href="{% url 'showbantuan'%}">Bantuan</a></li>

                 
                    </ul>
                  </div>

                  </div>
                </div>
              </div>
            <!-- MAIN NAVIGATION -->  
      </div>
    </div>
  </div>
  <!-- /HEADER ROW -->

  


  <div class="container">

  <!--Carousel
  ==================================================-->

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

      <div class="active item">
        <div class="container">
          <div class="row">
            
              <div class="span6">

                <div class="carousel-caption">
                      <h1>Analisis Sentimen</h1>
                      <p class="lead">Analisis sentiment adalah bidang studi yang menganalisa pendapat, sentiment, evaluasi, penilaian, dan emosi banyak orang mengenai entitas seperti produk, pelayanan, organisasi, individu, permasalahan, acara, topic, dan atributnya..</p>
                </div>

              </div>

                <div class="span6"> <img src="{% static 'img/slide/slide1.jpg' %}"></div>

          </div>
        </div>
       



      </div>

      <div class="item">
       
        <div class="container">
          <div class="row">
            
              <div class="span6">

                <div class="carousel-caption">
                      <h1>Example headline</h1>
                      <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                </div>

              </div>

                <div class="span6"> <img src="{ % static 'img/slide/slide2.jpg'%}"></div>

          </div>
        </div>

      </div>



<!-- Feature
  ==============================================-->


  <div class="row feature-box">
      <div class="span12 cnt-title">
       <h1></h1>
        <span></span>
      </div>

      <div class="span4">
        <img src="{% static 'img/twitter-icon.png' %}">
        <h2>Twitter</h2>
        <p>
            Data diperoleh dari Twitter dengan menggunakan algoritma acqusition. @Telkomsel menjadi acuan awal
        </p>



      </div>

      <div class="span4">
        <img src="{% static 'img/social-sentiment.png' %}">
        <h2>Algoritma Lexicon-based</h2>
        <p>
            Algoritma yang menjadi landasan dalam melakukan pengklasifikasian sentimen menjadi klasifikasi kata positif, negatif, dan netral.
        </p>   

      </div>

      <div class="span4">
        <img src="{% static 'img/users-icon.png' %}">
        <h2>Easy to Analize</h2>
        <p>
            Aplikasi ini mempermudah user untuk mengetahui kondisi terkini perihal Telkomsel melalui opini yang sedang berkembang dalam media sosial, dalam hal ini menggunakan Twitter.
        </p>

      </div>
  </div>


<!-- /.Feature -->

  <div class="hr-divider"></div>

<!-- Row View -->


    <div class="row">
        <div class="span6"><img src="{% static 'img/analisis.png' %}"></div>

        <div class="span6">
          <img class="hidden-phone" src="img/icon4.png" alt="">
          <h1>Tentang Developer</h1>
            <p>Saya Achmad Taufan, Mahasiswa S1 Fakultas Ilmu Komputer & Teknologi Informasi Jurusan Sistem Informasi Universitas Gunadarma tingkat akhir. Aplikasi ini ditujukan untuk memenuhi tugas akhir.</p>
        </div>
    </div>

    
</div>


<!-- /.Row View -->



<!--Footer
==========================-->

<footer>
    <div class="container">
      <div class="row">
        <div class="span12 text-center">Copyright &copy 2017<br>
        <small>Achmad Taufan</small>
        </div>
      </div>
    </div>
</footer>

<!--/.Footer-->

  </body>
</html>